body{
	margin: 0px;
}

#puzzle_game{
	margin: 0px auto; 
	padding: 0px;
	width: 1500px;
	padding: 50px;
	background-color: green
}

#main{
	margin: 0px;
	width: 1500px;
	height: auto;
}

#puzzle{
	background-color: #cdcdcd;
	margin: 0px;
	padding: 0px;
	float: left;
	border: 3px solid black;
}

#control{
	padding: 50px;
	margin: 0px;
	font-size: 36px;
	/*width: 300px;*/
	float: left;
}
#control input{
	margin-top: 50px;
	font-size: 25px;
}